
[tasks.download]
description = "download wsldl & tarball"
env.URL1 = "https://github.com/yuk7/wsldl/releases/latest/download/icons.zip"
env.URL2 = "https://jenkins.linuxcontainers.org/view/Images/job/image-devuan/architecture=amd64,release=excalibur,variant=default/lastSuccessfulBuild/artifact/rootfs.tar.xz"
run = """
#!/usr/bin/env bash
echo "Downloading wsldl..."
curl -Lo icons.zip $URL1
echo "Downloading tarball..."
curl -Lo rootfs.tar.xz $URL2
"""

[tasks.prepare]
env.ASSET = "Devuan.exe"
run = "unzip -u icons.zip $ASSET"
# do not depends explicitly to avoid re-download
# depends = ["download"]
hide = true

[tasks.clean]
run = """
#!/usr/bin/env bash
rm -rf ziproot Devuan.exe
# rm -r icons.zip rootfs.tar.xz
"""

[tasks."build:wsl"]
description = "pack as .wsl"
run = """
#!/usr/bin/env bash
mkdir ziproot
mkdir -p ziproot/usr/lib/wsl
cp rootfs.tar.xz ziproot/rootfs.tar.xz

tar -C ziproot -xf rootfs.tar.xz
install -pm644 fs/etc/wsl-distribution.conf ziproot/etc/wsl-distribution.conf
install -pm755 fs/usr/lib/wsl/oobe ziproot/usr/lib/wsl/oobe
install -pm644 fs/usr/lib/wsl/devuan.ico ziproot/usr/lib/wsl/devuan.ico
install -pm644 fs/usr/lib/wsl/terminal-profile.json ziproot/usr/lib/wsl/terminal-profile.json
tar -C ziproot --numeric-owner --absolute-names --create . | pigz > Devuan.wsl
# tar -C ziproot --numeric-owner --absolute-names --create . | gzip --best Devuan.wsl

sha512sum Devuan.wsl > Devuan.wsl.sha512
"""
depends = ["prepare"]
depends_post = ["clean"]

[tasks."build:zip"]
description = "pack as .zip"
run = """
#!/usr/bin/env bash
mkdir ziproot
cp rootfs.tar.xz ziproot/rootfs.tar.xz
cp Devuan.exe ziproot/Devuan.exe
zip -j Devuan.zip ziproot/*

# sudo chown "$(whoami):$(whoami)" Devuan.zip
sha512sum Devuan.zip > Devuan.zip.sha512
"""
depends = ["prepare"]
depends_post = ["clean"]
alias = ["default"]
