name: Build DevuanWSL

permissions:
  contents: write

on:
  push:
    branches: [main]
    paths: [build.sh] # trigger only on build.sh change
  workflow_dispatch:
  schedule:
    # trigger on the 1st day of every month at 12:00 UTC
    - cron: 0 12 1 * *

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repo
        uses: actions/checkout@v5
        with:
          ref: main
          persist-credentials: false
          fetch-depth: 0 # required to push refs
      - name: build
        run: |
          mkdir -p release
          sudo apt install -y curl jq pigz tar unzip zip
          sudo ./build.sh
          mv Devuan.zip* release/
      - name: upload as artifact
        uses: actions/upload-artifact@v5
        with:
          retention-days: 90
          path: release/*
      - name: upload as release
        run: gh release upload "${TAG}" --clobber release/Devuan.zip*
        env:
          GH_TOKEN: ${{ github.token }}
          TAG: action-build
